#modal-content {
  display: flex;
  justify-content: center;
  align-items: normal;
  /* height: 50;
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: 100%;
  grid-template-rows: 0% 30% 40% 20%; */
}
.create-review-block {
  /* display: grid; */
  height: 100%;
  width: 100%;
}

.create-textarea {
  width: 25rem;
  height: 8rem;
  border: solid 2px black;
  color: black;
  background-color: rgb(197, 225, 255);
}
.create-h1 {
  height: 30px;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
}
.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}
.fa-regular .fa-star {
  color: rgb(255, 215, 0);
}
.fa-solid .fa-star .fa-beat {
  color: rgb(255, 215, 0);
}
/* <i class="fa-regular fa-star" style="color: #e1d700;"></i> */
.create-button {
  width: 25.5rem;
  height: 3rem;
  color: white;
  background-color: #ff385c;
}
/* /* DELETE FORM */
.delete-Modal-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-form-block{
 height: 25rem;
}
.delete-header {
  justify-content: center;
  font-weight: bolder;
}
.delete-p {
  display: flex;
  font-size: large;
  font-weight: bolder;
}
.yeah-delete {
  height: 4rem;
  color: white;
  background-color: #ff385c;
}
.dont-delete {
  height: 4rem;
  color: white;
  background-color: grey;
}
.button-div {
  display: grid;
  row-gap: 10%;
}

/* Delete a review */




@media screen and (max-width: 1800px) {
  #modal-content {
    display: flex;
    width: 30rem;
    height: 25rem;
    justify-content: center;
    align-items: normal;
    padding: auto;
  }
  .create-textarea {
    padding: 5px;
    margin: 5px;
    width: 25rem;
    height: 8rem;
    border: solid 2px black;
    color: black;
    background-color: rgb(197, 225, 255);
  }
  .create-button {
    width: 26.5rem;
    height: 3rem;
    color: white;
    background-color: #ff385c;
  }
}
@media screen and (max-width: 1025px) {
  #modal-content {
    display: flex;
    width: 30rem;
    height: 25rem;
    justify-content: center;
    align-items: normal;
    padding: auto;
  }
  .create-textarea {
    padding: 5px;
    margin: 5px;
    width: 25rem;
    height: 8rem;
    border: solid 2px black;
    color: black;
    background-color: rgb(197, 225, 255);
  }
  .create-button {
    width: 26.5rem;
    height: 3rem;
    color: white;
    background-color: #ff385c;
  }
}
