* {
  margin: 0px;
  padding: 0px;
}
:root {
  --bg-clr: black;
  --font-clr: black;
  --Airbnb-red: #ff385c;
  --input: black;
  --link: black;
  --border: black;
  /* modals */
  --modal-bg: black;
  --modal-clr: black;
  --modal-p: black;
  --modal-button: #5583cc;
  --modal-shadows: black;
  --modal-border: black;
}
